.button{
    -fx-background-color: #8AB0AB ;
    -fx-text-fill:   #002727;
}

.button:hover{
    -fx-border-color: #1a1d1a;
    -fx-background-color:  #476661;
    -fx-opacity: 0.6;
    -fx-text-fill:  white;
    -fx-border-width: 0px 0px 2px 0px;
}

.labelText{
    -fx-text-fill:  #9CBCB8;
    -fx-font-weight: bold;
}

.labelInfo{
    -fx-text-fill: #9CBCB8;
}

.textArea{
    -fx-background-color: #D6E3E1;
    -fx-opacity: 0.8;
    -fx-text-fill: #002727;
}

.text-field{
    -fx-background-color: #D6E3E1;
    -fx-opacity: 0.8;
    -fx-text-fill: #002727;
}