.menuButton{
    -fx-background-color:  #003b3b;
    -fx-text-fill:  #D6E3E1;
}

.menuButton:hover{
    -fx-border-color: white;
    -fx-background-color:  #D0ECE7;
    -fx-opacity: 0.6;
    -fx-text-fill:  #003b3b;
    -fx-font-weight: bold;
    -fx-border-width: 0px 0px 3px 0px;
}