.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-font-size: 16px;
}

.table-view .table-cell{
    -fx-font-size:14px;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell{
    -fx-background-color: transparent;
}
.table-row-cell:filled:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color:  #094338;
    -fx-font-weight: bold;
}
.table-row-cell:filled:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:filled:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:filled:selected{
    -fx-background-color: linear-gradient(#1dbbdd44, #93f9b944);
    -fx-text-fill: #0E6655;
    -fx-font-weight: bold;
}

.table-row-cell:filled:selected:focused{
    -fx-text-fill: gray;
    -fx-font-weight: bold;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.button-compose{
    -fx-background-color:  #0E6655;
    -fx-text-fill: #D0ECE7;
}

.button-compose:hover{
    -fx-background-color: #1dbbdd44;
    -fx-text-fill: #0E6655;
    -fx-font-weight: bold;
}

.labelTitle{
    -fx-text-fill: #0E6655;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}